    <table>
      <a class="btn-solid-quit" th:href="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).EXIT}__}">QUIT</a>
      <tr th:each="gate:${gates}">
        <form th:object="${nextGate}" th:action="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).CHANGE}__}" method="post">
          <input type="hidden" th:id="destId" th:name="destId" th:value="${gate.getDestId()}" />
          <input type="hidden" th:id="id" th:name="id" th:value="${gate.getId()}" />
          <input type="hidden" th:id="locId" th:name="locId" th:value="${gate.getLocId()}" />
          <input type="hidden" th:id="direction" th:name="direction" th:value="${gate.getDirection()}" />
          <input type="hidden" th:id="required" th:name="required" th:value="${gate.getRequired()}" />
          <button class="btn" type="submit" th:text="${gate.getFullName()}">DIRECTION</button>
        </form>
      </tr>
    </table>
