<div class="row content-play">
  <div class="col span-3-of-4">
    <div class="bordered">
      <h2 class="fieldtitle">INVENTORY</h2>
      <app-inventory></app-inventory>
    </div>
    <div class="bordered container">
      <h2 class="fieldtitle">LOCATION</h2>
      <app-location></app-location>
    </div>
    <div class="bordered relative">
      <app-gate-alert></app-gate-alert>
      <h2 class="fieldtitle">ITEMS FOUND IN LOCATION</h2>
      <app-items></app-items>
      <app-item-alert></app-item-alert>
    </div>
  </div>
  <div class="col span-1-of-4 right">
    <div class="bordered-right">
      <h2 class="fieldtitle">DIRECTIONS</h2>
      <app-directions></app-directions>
    </div>
  </div>
</div>
