<div class="content">
  <div class="row titlediv">
    <h1 class="title">WELCOME TO THE ADVENTURE GAME!</h1>
    <h3 class="txt">SOMEWHERE NEARBY IS COLOSSAL CAVE, WHERE OTHERS HAVE FOUND FORTUNES IN TREASURE AND GOLD, THOUGH IT IS RUMORED THAT SOME WHO ENTER ARE NEVER SEEN AGAIN. MAGIC IS SAID TO WORK IN THE CAVE.</h3>
<!--    <h4><a class="btn-solid" th:href="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).PLAY}__}">LET'S GO TO AN ADVENTURE!</a></h4>-->
    <h4><a class="btn-solid" href="/play">LET'S GO TO AN ADVENTURE!</a></h4>
  </div>
</div>
