<div class="content">
  <div class="row titlediv">
    <h1 class="title">YOUR ADVENTURE HAS COME TO AN END!</h1>
    <div class="score">
      <h3 class="txt"> You scored <span th:text="${__${T(com.tkjavadev.adventuregame.util.AttributeNames).SCORE}__}"></span> point's out of a possible 258 and visited <span th:text="${__${T(com.tkjavadev.adventuregame.util.AttributeNames).VISITED}__}"></span> locations</h3>
      <h3 class="txt" th:text="${__${T(com.tkjavadev.adventuregame.util.AttributeNames).RANK}__}">RATING</h3>
    </div>
    <h4><a class="btn-solid" th:href="@{__${T(com.tkjavadev.adventuregame.util.GameMappings).RESTART}__}">PLAY AGAIN</a></h4>
    <h4><a class="btn-solid" href="/home">HOME</a></h4>
  </div>
</div>
